## Create a tesing file for me to ignore
testFile.txt

## Never version control the database ##
US_Flights_OnTime.db

## Never include any log files
*.log

venv 
*.pyc 
.DS_Store 
.env

testingfile.py