.header-span {
   display: inline-block;
   background-color: #0B2838;
   justify-content: center;
   width: max-content;
   align-items: center;
   text-align: center;
   font-style: italic;
   transform: skew(-15deg);
   
}

.header-span h1 {
   color: #E89C31;
   margin-top: 4px;
   margin-bottom: 2px;
   margin-right: 8px;
   margin-left: 2px;
   transform: skew(15deg);
   font-size: 3em;
}

.nav-header-span-class {
   display: inline-block;
   background-color: #E89C31;
   font-style: italic;
   text-align: center;
   align-items: center;
   width: max-content;
   height: max-content;
   justify-content: center;
   transform: skew(-15deg);
}

.nav-header-span-class h5 {
    color:#0B2838;
    transform: skew(15deg);
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-header-desc-pill {

    background-color: #E89C31 !important;
    color: #0B2838 !important;
    border-radius: 30px !important;
    opacity: 1 !important;
    padding: 4px 6px !important;

}

.navbar-top {

    margin-right: 0px !important;

}


.title-animate {

    position: relative;
    animation: fadeIn 1.25s ease-in-out, upwardMove 1s ease-in-out;

}

@keyframes fadeIn {

    0% {opacity: 0%;}
    100% {opacity: 100%;}

}

@keyframes upwardMove {

    0% {transform: translateY(.9em);}
    100% {transform: translateY(0);}

}


.accordion-button {
    color: #0B2838;
    font-weight:100;
}

.accordion-button:not(.collapsed) {
    background-color: #A2D2FF;
    color: #0B2838;
    font-weight:bold;
    border-width: medium;
    border-color: #0B2838;
}

.accordion-body {

    background-color: #f9f9f9;

}

.accordion-item {

    border-width: 1px;
    border-color: rgba(30,30,30,0.15);

}


.home-page-row-banner {

    min-height: 50vh;
    background-image: URL("Icon\ Grid.svg");
    background-size: cover;

}

.home-page-title-text-box {

    box-shadow: 2px 2px 30px 18px #F2DCE1;

}